<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>iot.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TprojectServlet</servlet-name>
    <servlet-class>iot.servlet.TprojectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TgateServlet</servlet-name>
    <servlet-class>iot.servlet.TgateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TgatedeviceServlet</servlet-name>
    <servlet-class>iot.servlet.TgatedeviceServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeviceTypeServlet</servlet-name>
    <servlet-class>iot.servlet.DeviceTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeviceServlet</servlet-name>
    <servlet-class>iot.servlet.DeviceServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JsonServlet</servlet-name>
    <servlet-class>iot.servlet.JsonServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HistoryServlet</servlet-name>
    <servlet-class>iot.servlet.HistoryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DevicelistServlet</servlet-name>
    <servlet-class>iot.servlet.DevicelistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>iot.servlet.AjaxServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TprojectServlet</servlet-name>
    <url-pattern>/TprojectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TgateServlet</servlet-name>
    <url-pattern>/TgateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TgatedeviceServlet</servlet-name>
    <url-pattern>/TgatedeviceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeviceTypeServlet</servlet-name>
    <url-pattern>/DeviceTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeviceServlet</servlet-name>
    <url-pattern>/DeviceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JsonServlet</servlet-name>
    <url-pattern>/JsonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HistoryServlet</servlet-name>
    <url-pattern>/HistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DevicelistServlet</servlet-name>
    <url-pattern>/DevicelistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/AjaxServlet</url-pattern>
  </servlet-mapping>
</web-app>